.timeline {
  margin: 50px auto;

  h1 {
    text-align: center;
  }

  .chirp {
    border: 1px solid #000;
    border-radius: 2px;
    margin: 10px auto;
    padding: 20px;
    width: 600px;

    a.remove {
      float: right;
    }
  }
}
